# Job Selection Data Wrangling

In [11]:
import pandas as pd
from bs4 import BeautifulSoup
import bs4
import requests

In [23]:
temp_dict = {}
df = pd.DataFrame()

url = 'http://money.cnn.com/2016/03/23/pf/gender-pay-gap/index.html'

r  = requests.get(url)
soup = BeautifulSoup(open('../PayGap Raw Data/Gender pay gap.html'), 'lxml')

for p in soup.find('p', text=' 1. Computer programmer - 72 cents '):
    temp_text = str(p).split('-')
    temp_dict[0] = temp_text[0].split('.')[1]
    temp_dict[1] = float(temp_text[1].split(' ')[1]) * 0.01
    df = df.append(temp_dict, ignore_index=True)
    for i in range(0, 20):
        p = p.findNext('p')
        if i == 2 or i == 6:
            temp_dict[0] = p.find('a').get_text()
            temp_text = str(p).split(' ')
            temp_dict[1] = float(temp_text[5]) * 0.01
        
        elif i == 9:
            continue
        
        elif i >= 0 and i < 9:
            temp_text = str(p).split('-')
            temp_dict[0] = temp_text[0].split('.')[1]
            temp_dict[1] = float(temp_text[1].split(' ')[1]) * 0.01
            
        else:
            temp_text = str(p).split('-')
            temp_dict[0] = temp_text[0].split('.')[1]
            temp_dict[1] = temp_text[1].split('$')[1]
        
        df = df.append(temp_dict, ignore_index=True)
        df
        
cols = ['Occupation','Women']
df.columns = cols

df

                                Occupation      Women
0                     Computer programmer        0.72
1                                    Chef        0.72
2                                 Dentist        0.72
3                                  C-Suite       0.72
4                            Psychologist        0.73
5                              Pharmacist        0.78
6                            CAD designer        0.78
7                              Physician -       0.82
8                                Optician        0.83
9                                   Pilot        0.84
10                          Social worker   1.08 </p>
11                           Merchandiser   1.08 </p>
12                     Research assistant   1.07 </p>
13                  Purchasing specialist   1.06 </p>
14                      Physician advisor   1.02 </p>
15               Communications associate   1.02 </p>
16                           Social media   1.02 </p>
17                        Health educator   1.01 </p>
18                            Procurement   1.01 </p>
19   Business coordinators and therapists   1.01 </p>

In [24]:
df['Women'].replace(regex=True,inplace=True,to_replace=r'</p>',value=r'')
df

                                Occupation  Women
0                     Computer programmer    0.72
1                                    Chef    0.72
2                                 Dentist    0.72
3                                  C-Suite   0.72
4                            Psychologist    0.73
5                              Pharmacist    0.78
6                            CAD designer    0.78
7                              Physician -   0.82
8                                Optician    0.83
9                                   Pilot    0.84
10                          Social worker   1.08
11                           Merchandiser   1.08
12                     Research assistant   1.07
13                  Purchasing specialist   1.06
14                      Physician advisor   1.02
15               Communications associate   1.02
16                           Social media   1.02
17                        Health educator   1.01
18                            Procurement   1.01
19   Business coordinators and therapists   1.01

In [25]:
df['Men'] = 1
df

                                Occupation  Women  Men
0                     Computer programmer    0.72    1
1                                    Chef    0.72    1
2                                 Dentist    0.72    1
3                                  C-Suite   0.72    1
4                            Psychologist    0.73    1
5                              Pharmacist    0.78    1
6                            CAD designer    0.78    1
7                              Physician -   0.82    1
8                                Optician    0.83    1
9                                   Pilot    0.84    1
10                          Social worker   1.08     1
11                           Merchandiser   1.08     1
12                     Research assistant   1.07     1
13                  Purchasing specialist   1.06     1
14                      Physician advisor   1.02     1
15               Communications associate   1.02     1
16                           Social media   1.02     1
17                        Health educator   1.01     1
18                            Procurement   1.01     1
19   Business coordinators and therapists   1.01     1

In [26]:
df.to_csv('../Cleaned Data/Job Selection Data.csv')